{% extends "base.html" %}

{% block nav %}
    <li><a name="test" href="/test/?rock=CCNAsec">实验中心</a></li>
    <li class="active"><a name="homework" href="/homework/">作业中心<img src="/static/imgs/arrow.png" style="display:block;margin-left:30px;margin-top:7px;margin-bottom:-30px;width:20px;height: 10px"/></a></li>
    <li><a href="#">预留板块</a></li>
    <li><a href="/admin/" target="_blank">后台管理</a></li>
    <li><a href="#">获取帮助</a></li>
{% endblock %}


{% block main %}
    <div class="col-sm-12 col-md-12 main">
        <h1 class="page-header">作业中心</h1>

        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col style="width:10%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:15%">
                    </colgroup>
                <thead>
                    <tr>
                      <th class="text-center">编号</th>
                      <th class="text-center">第几次</th>
                      <th class="text-center">作业文件</th>
                      <th class="text-center">上传时间</th>
                      <th class="text-center">批阅文件</th>
                      <th class="text-center">成绩</th>
                      <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                {% for homework in homeworks %}

                    {% for rock in rocks%}
                        {% if homework.rock == rock %}
                            <tr><td>{{ rock.rock_name }}</td></tr>
                        {% endif %}
                    {% endfor %}

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}