{% extends "base.html" %}

{% block css %}
    <link href="/static/datatables-1.10.15/css/jquery.dataTables.min.css" rel="stylesheet"/>
{% endblock %}


{% block nav %}
    <li><a name="test" href="/test/?rock=CCNAsec">实验中心</a></li>
    <li class="active">
        <a name="homework" href="/homework/">作业中心
        <img src="/static/imgs/arrow.png" style="display:block;margin-left:30px;margin-top:7px;margin-bottom:-30px;width:20px;height: 10px"/>
        </a>
    </li>
    <li><a href="#">预留板块</a></li>
    <li><a href="/admin/" target="_blank">后台管理</a></li>
    <li><a href="#">获取帮助</a></li>
{% endblock %}


{% block main %}
    <div class="col-sm-12 col-md-12 main">
    <div class="row">
        <h1 class="page-header pull-left">作业中心</h1>
        <button onclick="upload();" class="pull-right btn-lg btn-success">上传作业</button>
    </div>
    <br />
    <div class="row">
        <div class="table-responsive">
            <table id="table-for-student" class="display hover cell-border">
                <colgroup>
                    <col style="width:5%">
                    <col style="width:7%">
                    <col style="width:6%">
                    <col style="width:23%">
                    <col style="width:10%">
                    <col style="width:24%">
                    <col style="width:10%">
                    <col style="width:6%">
                    <col style="width:8%">
                </colgroup>
                <thead>
                    <tr>
                      <th class="text-center">编号</th>
                      <th class="text-center">模块</th>
                      <th class="text-center">第几次</th>
                      <th class="text-center">作业文件</th>
                      <th class="text-center">上传时间</th>
                      <th class="text-center">批阅文件</th>
                      <th class="text-center">批阅时间</th>
                      <th class="text-center">成绩</th>
                      <th class="text-center">下载作业</th>
                    </tr>
                </thead>
                <tbody class="text-center">

                {% for homework in homeworks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ homework.rock.rock_name }}</td>
                                <td>{{ homework.order }}</td>
                                <td>{{ homework.rock.rock_name }}-day{{ homework.order }}-{{ homework.user.e_name }}.doc</td>
                                <td>{{ homework.upload_time|date:"Y-m-d H:i" }}</td>
                                <td>{{ homework.check_path|default:"待批阅"  }}</td>
                                <td>{{ homework.check_time|date:"Y-m-d    H:i"|default:"未知" }}</td>
                                {% if homework.score == "A+" %}
                                    <td style="background-color: #5DFC70;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "A" %}
                                    <td style="background-color: greenyellow;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "A-" %}
                                    <td style="background-color: #78ca66;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "B+" %}
                                    <td style="background-color: deepskyblue;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "B" %}
                                    <td style="background-color: #49E3F5;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "B-" %}
                                    <td style="background-color: #1CD4C8;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "C+" %}
                                    <td style="background-color: #FFBF00;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "C" %}
                                    <td style="background-color: #FF8000;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "C-" %}
                                    <td style="background-color: #FE642E;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% else %}
                                    <td>{{ homework.score|default:"未知" }}</td>
                                {% endif %}
                                <td>
{#                                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>#}
{#                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
                                    <a href="/homework/download/?file_name={{ homework.rock.rock_name }}-day{{ homework.order }}-{{ homework.user.e_name }}-forstudent">
                                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                {% endfor %}
                </tbody>
            </table>
        <h4>说明：
                1. 在老师批阅作业之前，可以重新上传作业，但无法下载批阅的作业；
                2. 在老师批阅过作业后，才可以下载批阅过的作业，但不可以重新上传作业！
        </h4>
        </div>
    </div>
    </div>
{% endblock %}

{% block spt %}
    <script src="/static/datatables-1.10.15/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready( function () {
        $('#table-for-student').DataTable();
    } );

    function upload() {
        window.location.href = "/homework/file/"
    }
    </script>
{% endblock %}