{% extends 'base.html' %}

{% block main %}
          <h1 class="page-header">{{ rock_name }}面板</h1>
            {% for test_bed in test_beds %}
              <h2 class="sub-header">{{ test_bed.bed_name }}</h2>
              <div class="table-responsive">
                <table class="table table-striped table-bordered">
{#                    用于固定表格宽度#}
                    <colgroup>
                    <col style="width:9%">
                    <col style="width:13%">
                    <col style="width:13%">
                    <col style="width:13%">
                    <col style="width:13%">
                    <col style="width:13%">
                    <col style="width:13%">
                    <col style="width:13%">
                    </colgroup>
                  <thead>
                    <tr>
                      <th class="text-center">时间段</th>
                      <th class="text-center">周一</th>
                      <th class="text-center">周二</th>
                      <th class="text-center">周三</th>
                      <th class="text-center">周四</th>
                      <th class="text-center">周五</th>
                      <th class="text-center">周六</th>
                      <th class="text-center">周日</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                  {% for row in rows %}
                      {% if row.test_bed == test_bed %}
                        <tr>
                            <td>{{ row.time_zone }}</td>
                            {% for weekday in weekdays %}
                                {% for node in nodes %}
                                    {% if node.row == row and node.weekday == weekday %}
                                        {% if node.owner == null %}
                                          <td time_zone="{{ row.time_zone }}" weekday="{{ weekday.day_name }}">可选</td>
                                        {% elif node.owner.e_name == user_name %}
                                          <td time_zone="{{ row.time_zone }}" weekday="{{ weekday.day_name }}" style="background-color: #22ff4f;color:black">{{ node.owner.c_name }}</td>
                                        {% else %}
                                          <td time_zone="{{ row.time_zone }}" weekday="{{ weekday.day_name }}" style="background-color: red;color:white">{{ node.owner.c_name }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
            </table>
          </div>

        {% endfor %}



{% endblock %}