{% extends "homework.html" %}

{% block main %}
    <div class="col-sm-12 col-md-12 main">
    <div class="row">
        <h1 class="pull-left">作业检查</h1>
    </div>
    <p class="formessage" style="text-align: center;font-size: 16px;color: red">&nbsp;{{ ret.message }}</p>

    <div class="row">
        <div>
            <table id="table-for-teacher" class="display display hover cell-border">
                <colgroup>
                    <col style="width:5%">
                    <col style="width:10%">
                    <col style="width:9%">
                    <col style="width:9%">
                    <col style="width:7%">
                    <col style="width:22%">
                    <col style="width:24%">
                    <col style="width:6%">
                    <col style="width:8%">
                </colgroup>
                <thead>
                    <tr>
                      <th class="text-center">编号</th>
                      <th class="text-center">用户名</th>
                      <th class="text-center">中文名</th>
                      <th class="text-center">模块</th>
                      <th class="text-center">第几次</th>
                      <th class="text-center">作业文件</th>
                      <th class="text-center">批阅文件</th>
                      <th class="text-center">成绩</th>
                      <th class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="text-center">

                {% for homework in homeworks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ homework.user.e_name }}</td>
                                <td>{{ homework.user.c_name }}</td>
                                <td>{{ homework.rock.rock_name }}</td>
                                <td>{{ homework.order }}</td>
                                <td>{{ homework.rock.rock_name }}-day{{ homework.order }}-{{ homework.user.e_name }}.doc</td>
                                <td>{{ homework.check_path|default:"待批阅" }}</td>
                                {% if homework.score == "A+" %}
                                    <td style="background-color: #5DFC70;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "A" %}
                                    <td style="background-color: greenyellow;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "A-" %}
                                    <td style="background-color: #78ca66;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "B+" %}
                                    <td style="background-color: deepskyblue;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "B" %}
                                    <td style="background-color: #49E3F5;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "B-" %}
                                    <td style="background-color: #1CD4C8;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "C+" %}
                                    <td style="background-color: #FFBF00;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "C" %}
                                    <td style="background-color: #FF8000;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% elif  homework.score == "C-" %}
                                    <td style="background-color: #FE642E;font-size: 16px">{{ homework.score|default:"未知" }}</td>
                                {% else %}
                                    <td>{{ homework.score|default:"未知" }}</td>
                                {% endif %}
                                <td>
                                    <a href="#">
                                        <form style="display: none" enctype="multipart/form-data" action="/homework/teacher_file/" method="post">
                                            <input type="file" name="myfile" />
                                            <input type="submit" value="开始上传"/>
                                            {% csrf_token %}
                                            <input type="text" name="oraginfile" value="{{ homework.rock.rock_name }}-day{{ homework.order }}-{{ homework.user.e_name }}" />
                                        </form>
                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/homework/download/?file_name={{ homework.rock.rock_name }}-day{{ homework.order }}-{{ homework.user.e_name }}.doc">
                                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                {% endfor %}
                </tbody>
            </table>
        <br />
        <span>说明：
                1. 成绩分A+\A\A-\B+\B\B-\C+\C\C-九档；
                2. 批阅过的作业，请严格按照【CCNAsec-day1-rsec-testuser-1-B-.doc】的格式修改作业名；
                3. 必须匹配所针对的作业行点选上传按钮！
        </span>
        </div>
    </div>
    </div>
{% endblock %}

{% block spt %}
    <script src="/static/datatables-1.10.15/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready( function () {
        $('#table-for-teacher').DataTable();
    } );

    function upload() {
        window.location.href = "/homework/file/"
    }

    $("span.glyphicon-upload").click(function () {
        $(this).prev().children().first().click();
    });
    $("form").change(function () {
        $(this).submit();
    });

    $(function () {
        setTimeout(function () {
            $("p").hide();
        }, 3000);
    })

    </script>
{% endblock %}